<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class=" mt-2">
        <a href="/">


            <i class="fas fa-1x fa-bars mr-3"></i> {{ nombreClase }}

            <img *ngIf="!mostrarMenu" src="../../../assets/img/GoogleClassroomBanner.png" width="150px"
                class="img-fluid" />
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto">
            <li *ngIf="mostrarMenu" (click)="seleccionarRegion('anuncios')" style="cursor: pointer;"
                class="nav-item mr-2 m-2 text-muted">
                Clase
            </li>
            <li *ngIf="mostrarMenu" (click)="seleccionarRegion('asignaciones')" style="cursor: pointer;"
                class="nav-item mr-2 m-2 text-muted">
                Asignaciones
            </li>
            <li *ngIf="mostrarMenu" (click)="seleccionarRegion('participantes')" style="cursor: pointer;"
                class="nav-item mr-2 m-2 text-muted">
                Participantes
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">

            <div class="">

                <button class="btn dropdown-toogle" type="button" data-target="#modalNuevaClase"
                    data-toggle="modal">
                    <i class="fas fa-plus"></i>
                </button>


                <button class="btn dropdown-toogle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="../../../assets/img/{{ instructor.imagen }}" width="40px" class="img-fluid rounded-circle"
                        id="img-perfil-activo" alt="" />
                </button>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                    style="width: 400px;">
                    <div class="container" id="contenedor-instructor">
                        <div style="cursor: pointer;" (click)="seleccionarInstructor(item._id)"
                            *ngFor="let item of instructores" class="row p-3">
                            <div class="col-md-4">
                                <img src="../../../assets/img/{{ item.imagen }}" width="40px"
                                    class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="col-md-8">
                                <h6>{{ item.nombre }}</h6>
                                <h6 class="text-sm text-muted">{{ item.correo }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-1 col-2 mt-2">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <div class="col-8">
                            <button class="btn" type="button" data-target="#modalNuevoInstructor"
                                data-toggle="modal">Agregar Instructor</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</nav>

<!-- Modal Instructor -->
<div class="modal" id="modalNuevoInstructor" tabindex="-1" aria-labelledby="modalNuevaAppLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevaAppLabel">Agregar Nuevo Instructor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Defino lo que va dentro del modal -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form [formGroup]="formularioInstructor" class="col-12">
                            <input formControlName="nombre" class="form-control my-2" type="text" placeholder="Nombre">
                            <input formControlName="correo" class="form-control my-2" type="text" placeholder="Correo">
                            <select formControlName="imagen" class="form-control my-2" id="lista-imagenes">
                                <option *ngFor="let item of imagenes" value="{{ item.imagen }}">{{ item.nombre_p }}
                                </option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-guardar" type="button" class="btn btn-primary"
                    (click)="agregarInstructor()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<nav class="navbar border navbar-expand-lg d-none">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-1 mt-2">
                    <button class="btn">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="offset-1 col-7 mt-2">
                    <a href="index.html">
                        <img src="" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="offset-7 col-2 te">
            <div class="row">
                <div class="col-3 mt-2">
                    <button class="btn dropdown-toogle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        hola
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="bnt-invitar">Unir a Clase</a>
                        <button class="btn btn-link dropdown-item" data-toggle="modal" data-target="#modalNuevaClase"
                            id="btn-agregar-clase">Crear Clase
                        </button>
                    </div>
                </div>
                <div class="col-3 mt-2">
                    <button class="btn">

                    </button>
                </div>
                <div class="col-5">
                    <button class="btn dropdown-toogle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="" class="img-fluid rounded-circle" id="img-perfil-activo" alt="" />
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                        style="width: 400px;">
                        <div class="row" id="contenedor-instructor">

                        </div>
                        <div class="row">
                            <div class="offset-1 col-2 mt-2">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <div class="col-8">
                                <button class="btn" type="button" data-target="#modalNuevoInstructor"
                                    data-toggle="modal">Agregar Instructor</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>



<!-- Modal Crear Clase -->
<div class="modal" id="modalNuevaClase" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevaAppLabel">Agregar Nueva Clase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="formularioClase" class="modal-body">

                <div class="form-group">
                    <label for="usuario" class="form-horizontal control-label">Nombre Asignatura</label>
                    <input formControlName="nombreClase" type="text" class="form-control" id="nombreA" placeholder="Nombre Asignatura">
                </div>

                <div class="form-group">
                    <label for="password">Código</label>
                    <input formControlName="codigo" type="text" class="form-control" id="codigoA" placeholder="Codigo">
                </div>

                <div class="form-group">
                    <label for="password">Sección</label>
                    <input formControlName="seccion" type="text" class="form-control" id="seccionA" placeholder="Sección">
                </div>

                <div class="form-group">
                    <label for="aula">Descripcion</label>
                    <input formControlName="descripcion" type="text" class="form-control" id="descripcionA" placeholder="Descripcion">
                </div>

            </form>
            <button type="button" class="btn btn-primary" (click)="crearClase()"
                style="width: 100px; margin: 0 auto;">Agregar</button><br>

        </div>
    </div>
</div>