<div class="container center mt-4">
    <button class="btn btn-primary rounded" data-toggle="modal" data-target="#modalNuevoA">
        <i class="fas fa-plus"></i> Nueva Asignacion
    </button>
    <table class="table mt-4">
        <tbody id="asignaciones">
            <tr *ngFor="let item of asignaciones">
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.fecha_limite }}</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->

<div class="modal" id="modalNuevoA" tabindex="-1" aria-labelledby="modalNuevaAppLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevaAppLabel">Nueva asignación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form  [formGroup]="formularioAsignaciones" class="row">
                        <div class="col-12">
                            <input formControlName="nombre" class="form-control my-2" type="text" id="titulo"
                                placeholder="nombre de la asignación">
                            <input formControlName="descripcion" class="form-control my-2" type="text" id="descripcion" placeholder="descripción">
                            <input formControlName="fecha_limite" class="form-control my-2" type="date" id="fecha"
                                placeholder="fecha límite de entrega">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-guardar" type="button" class="btn btn-primary"
                    (click)="agregarAsignacion()">Guardar</button>
            </div>
        </div>
    </div>
</div>