<div class="container mt-4">
    <div class="row" style="color: cornflowerblue;">
        <div class="col-4">
            <h2>Profesores</h2>
        </div>
        <div class="offset-7 col-1">
            <button class="btn mt-2">
                <i class="fas fa-user-plus" style="color: cornflowerblue;"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-1">
            <img src="../../../assets/img/{{ instructor.imagen }}" alt="{{ instructor.imagen }}" id="img-perfil-activo" class="img-fluid rounded-circle" >
        </div>
        <div class="col-2 mt-3">
            {{ instructor.nombre }}
        </div>
    </div>

    <div class="row mt-5" style="color: cornflowerblue;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h2>Estudiantes</h2>
                </div>
                <div class="col-md-2">
                    <button class="btn mt-2">
                        <i class="fas fa-user-plus" style="color: cornflowerblue;"></i>
                    </button>
                </div>
            </div>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr *ngFor="let item of participantes">
                        <td>

                            <img width="60px" height="60px" class="img-fluid rounded-circle"
                                src="../../../assets/img/{{ item.imagen }}">
                        </td>

                        <td>{{item.nombre}}</td>
                        <td>{{item.correo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!---Modal--->
<div class="row">
    <div class="col-12 text-center">
        <img src="../../../assets/img/invitar_estudiantes.png" id="img-invitar" class="img-fluid" alt="">
    </div>
</div>
<div class="row mt-5 mb-5">
    <div class="col-12 text-center">
        <h6>Invita estudiantes a tu clase</h6>
        <button class="btn btn-primary mt-2" id="btn-invitar-estudiante" data-toggle="modal"
            data-target="#modalNuevoI">Invitar</button>
    </div>
</div>

<div class="modal" id="modalNuevoI" tabindex="-1" aria-labelledby="modalNuevaAppLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevaAppLabel">Invitar Participante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control my-2" type="text" name="" id="nombre_p" placeholder="nombre">
                            <input class="form-control my-2" type="text" name="" id="correo" placeholder="correo">
                            <select class="form-control my-2" id="lista-imagenes">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-guardar" type="button" class="btn btn-primary" onclick="invitar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

