<app-navbar (enviarRegion)="obtenerRegion($event)" (enviarInstructor)="obtenerInstructor($event)"></app-navbar>

<app-clases (enviarClase)="obtenerClaseSeleccionada($event)" *ngIf="!claseSeleccionada" #clases></app-clases>


<div *ngIf="claseSeleccionada">

    <app-participantes *ngIf="regionSeleccionada == 'participantes'"></app-participantes>

    <app-anuncios *ngIf="regionSeleccionada == 'anuncios'"></app-anuncios>

    <app-asignaciones *ngIf="regionSeleccionada == 'asignaciones'"></app-asignaciones>

</div>